# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GameSubmission.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Jarule\Documents\unityProjects\BrackeysGameJamSubmission2022.1\GameSubmission\.idea\.idea.GameSubmission\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
